:root {
  --accent-100: #9fedd7;
  --accent-200: #026670;
  --table-100: #fef9c7;
  --table-200: #fce181;
  --background: #edeae5;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  color: var(--accent-200);
  background-color: var(--background);
  margin: 5vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-sharp {
  font-size: 2rem;
}

.header__right, .header__left {
  display: flex;
  align-items: center;
}

.header__left {
  gap: 1rem;
}

.header__right {
  gap: 0.5rem;
}

button {
  border: 2px solid transparent;
  border-radius: 2em;
  background-color: var(--accent-100);
  padding: 1em 2em;
  letter-spacing: 1px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

button:not(.button__dropdown):hover, button:not(.button__dropdown):focus {
  border: 2px solid var(--accent-200);
  cursor: pointer;
}

table {
  table-layout: fixed;
  width: 100%;
  overflow: scroll;
}

td, th {
  height: 3em;
  min-width: 3rem;
  overflow-x: scroll; /* check how table was fixed in plttr 1 */
  outline: none;
  padding: 0 1em;
}

th {
  background-color: var(--table-200);
}

td {
  background-color: var(--table-100);
  font-family: "Inter", sans-serif;
}

.selectors {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--accent-100);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.selectors > div {
  width: 20%;
  line-height: 1.2;
}

.selectors > .selectors__option:not(:last-child) {
  border-right: 2px solid var(--background);
}

.selectors  .selectors__option-name:hover, .selectors .selectors__option-name:focus {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

@media only screen and (max-width: 620px){
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 0.3rem;
  }
  .selectors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-100);
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .selectors > div {
    width: 90%;
    padding: 0.8rem;
  }
  .selectors > .selectors__option:not(:last-child) {
    border-right: none;
    border-bottom: 2px solid var(--background);
  }
}
/* dropdowns */
.selectors__option{
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none; /*becomes flex*/
  flex-direction: column;
  min-width: 100%;
  background-color: var(--background);
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 0 4px 5px rgb(0, 0, 0, 0.05);
}

.dropdown-content.show { /*check that this is the right class name to add */
  display: flex;
}

.button__dropdown{
  background-color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  padding: 1em;
  border-radius: 0;
  z-index: 1;
}

.button__dropdown:not(:last-child){
  margin-bottom: 2px;
}

.button__dropdown:hover, .button__dropdown:focus {
  background-color: var(--accent-100);
}
