:root {
  --accent-100: hsl(163, 68%, 78%);
  --accent-200: hsl(185, 96%, 22%);
  --table-100: hsl(55, 96%, 89%);
  --table-200: hsl(47, 95%, 75%);
  --background: hsl(37, 18%, 91%);
  --accent-100-transparent: hsla(163, 68%, 78%, 0.5);
  --accent-200-transparent: hsla(185, 96%, 22%, 0.5);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  color: var(--accent-200);
  background-color: var(--background);
  margin: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: var(--accent-200);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-sharp {
  font-size: 2rem;
}

.header__right, .header__left {
  display: flex;
  align-items: center;
}

.header__left {
  gap: 1rem;
}

.header__right {
  gap: 0.5rem;
}

button {
  border: 2px solid transparent;
  border-radius: 2em;
  background-color: var(--accent-100);
  padding: 1em 2em;
  letter-spacing: 1px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

button:hover, button:focus {
  cursor: pointer;
}

button.active:hover, button.active:focus {
  border: 2px solid var(--accent-200);
}

.table__wrapper {
  max-width: 100%;;
  max-height: 70vh;
  overflow: auto;
}

table {
  table-layout: fixed;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

table.many-columns {
  table-layout: auto;
}

table.many-columns th.exclude, table.many-columns td.exclude{
  width: auto;
  min-width: 4rem;
}

td, th {
  height: 3rem;
  overflow: auto; 
  white-space: nowrap;
  outline: none;
}

td:not(.exclude), th:not(.exclude) {
  min-width: 8rem;
}

td {
  padding: 0 2vw;
}

th {
  font-size: clamp(0.7rem, 2vw, 1rem);
  font-weight: normal;
  min-width: 5rem;
}

th.exclude, td.exclude {
  width: 4rem;
  padding: 0;
}

th {
  background-color: var(--table-200);
}

td {
  background-color: var(--table-100);
  font-family: "Inter", sans-serif;
}

.exclude.checkbox {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  outline: 1px solid var(--accent-200);
  border-radius: 2px;
  background-color: transparent;
}

input[type="checkbox"]:checked {
  background-color: var(--accent-200);
}

.selectors {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--accent-100);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.selectors > div {
  width: 20%;
  line-height: 1.2;
}

.selectors > .selectors__option:not(:last-child) {
  border-right: 2px solid var(--background);
}

.selectors__option__heading {
  display: inline-block;
}

.selectors__option__heading > i {
  vertical-align: middle;
}

.selectors__option__heading > i.show {
  transform: rotate(180deg);
}

.selectors__option-name {
  font-size: clamp(0.6rem, 2vw, 1rem);
}

/* dropdowns */
.selectors__option {
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none; /*becomes flex*/
  flex-direction: column;
  min-width: 100%;
  background-color: var(--background);
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 0 4px 5px rgb(0, 0, 0, 0.05);
}


.dropdown-content.show { /* keep this, and rotate arrow icon */
  display: flex;
}

.button__dropdown {
  background-color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem; 
  padding: 0.8rem;
  border-radius: 0;
  z-index: 1;
  white-space: nowrap;
}

.fa-solid.fa-circle{
  margin-right: -0.05rem;
}

.button__dropdown:not(:last-child){
  margin-bottom: 2px;
}

.selection__choices {
  margin-top: -1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

.selection__choices > div {
  display: none; /* default */
  border: 2px solid var(--accent-200);
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.graph-wrapper__outer {
  width: 100%;
  display: none; /* default is none -> becomes flex */
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.graph__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.graph-wrapper {
  width: 100%;
  height: 40rem;
  border: 2px solid var(--accent-200);
  border-radius: 0.5em;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.graph-report {
  margin: 3vw 3vw 0 3vw;
}

#graph {
  width: 100%; /* instead of 100% */
  height: 90%; /*instead of 80% */
}

/* modal styling */
.modal {
  display: none; /*default is none, on is block */ 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.calculator {
  background-color: var(--background);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 3vw;
  width: 80%; 
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-radius: 0.5em;
  gap: 0.8em;
}

.calculator__header {
  grid-column: 1 / 3;
}

.calculator__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -1rem;
}

.calculator__screen-wrapper {
  grid-column: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3em;
}

.calculator__screen {
  width: 100%;
  overflow-x: scroll;
  height: 3em;
  border: 2px solid var(--accent-200);
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.close {
  color: #aaa;
  font-size: 24px;
}

.close:hover,
.close:focus {
  color: var(--accent-200);
  text-decoration: none;
  cursor: pointer;
}

.calculator__keys {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}

#submit{
  grid-column-start: 2;
  grid-column-end: 5; 
}

input {
  outline: none;
  background-color: var(--background);
  border: 2px solid var(--accent-200);
  border-radius: 0.5em;
  padding: 0.3em;
  margin-left: 0.5em;
}

.columns {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 3;
  gap: 0.5em;
}

.calculator__button {
  border-radius: 0.5em;
  font-size: 1em;
  padding: 1em 0;
  max-width: 100%;
}

.calculator__button-column {
  background-color: var(--table-100);
  border-radius: 0.5em;
  font-size: 1rem;
  padding: 1em 0;
  max-width: 100%;
}

.invalid-formula {
  visibility: hidden; /* looks better when the spacing is retained */
  color: salmon;
}

label.warning-on, #name.warning-on {
  color: salmon;
}

#name.warning-on {
  border: 2px solid salmon;
}

@media only screen and (max-width: 620px){
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 0.3rem;
  }
  .selectors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-100);
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .selectors > div {
    width: 90%;
    padding: 0.8rem;
  }
  .selectors > .selectors__option:not(:last-child) {
    border-right: none;
    border-bottom: 2px solid var(--background);
  }
  .selectors__option-name {
    font-size: 1rem;
  }
  .dropdown-content {
    position: static;
    background-color: var(--accent-100);
    min-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .button__dropdown {
    background-color: inherit;
  }
}

@media only screen and (max-width: 580px) {
  .calculator {
    width: 85%;
    grid-template-columns: 1fr;
  }
  .columns {
    grid-column: 1;
  }
  .calculator__keys {
    grid-row: auto;
  }
  .graph-wrapper {
    padding: 0;
  }

  td:not(.exclude), th:not(.exclude) {
    min-width: 7rem;
  }
}

.button__dropdown > i {
  display: none;
  font-size: 0.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.button__dropdown > span,
.button__dropdown > i {
  pointer-events: none;
}

.button__dropdown.current > i {
  display: inline;
}

.button__dropdown:hover > i, .button__dropdown:focus > i {
  display: inline;
}

footer a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}